@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');
 */
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "josefinSans";
  src: url("/fonts/static/JosefinSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@theme {
  /* primary */
  --color-primary-blue-500: hsl(220, 98%, 61%);
  /* Check Background: linear-gradient hsl(192, 100%, 67%) 
  to hsl(280, 87%, 65%) */
  /* light */
  --color-primary-gray-50: hsl(0, 0%, 98%);
  --color-primary-gray-100:  hsl(233, 1%, 92%);
  --color-primary-gray-300:  hsl(233, 11%, 84%);
  --color-primary-gray-600: hsl(236, 9%, 61%);
  --color-primary-purple-300: hsl(234, 39%, 85%);
  --color-primary-navy-850: hsl(235, 19%, 35%);
  
  /* dark */
  --color-primary-navy-900: hsl(235, 24%, 19%);
  --color-primary-navy-950: hsl(235, 21%, 11%);
  --color-primary-purple-100: hsl(236, 33%, 92%);
  --color-primary-purple-600: hsl(235, 16%, 43%);
  --color-primary-purple-700: hsl(233, 14%, 35%);
  --color-primary-purple-800: hsl(237, 14%, 26%);

  /* fonts */
  --font-josefine-400: "josefinSans";
 /*  --font-josefine-400: "Josefin Sans", sans-serif; */

 /* breakpoint */
  --breakpoint-mobile: 384px;
}