@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* @font-face {
  font-family: "Bricolage";
  src: url("/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */


@font-face {
  font-family: "nunito-variable";
  src: url("/fonsts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-nunito-variable: "nunito-variable"; 
}