@import "tailwindcss";
/* fonts */

@font-face {
  font-family: 'Bricolage';
  src: url('assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bricolage-bold';
  src: url('assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM-Sans-light';
  src: url('assets/fonts/DM_Sans/static/DMSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM-Sans-medium';
  src: url('assets/fonts/DM_Sans/static/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM-Sans-semibold';
  src: url('assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM-Sans-semibold-italic';
  src: url('assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'DM-Sans-bold';
  src: url('assets/fonts/DM_Sans/static/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* neutral */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);
  /* orange */
  --color-orange-500: hsl(28, 100%, 52%);
  /* blue */
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  /* customizing fonts */
  /* valores de font
  - Family: [DM Sans](https://fonts.google.com/specimen/DM+Sans)
- Weights: 300, 500, 600, 600i, 700
  :
  font-light = 300
  font-medium = 500
  font-semibold = 600
  font-semibold  + italic = 600i
  font-bold = 700
  */
  /* ejemplo:
  font-dm font-[100]
  font-bricolage weight */
  --font-bricolage: "Bricolage";
  --font-bricolage-b: "Bricolage-bold";
  --font-DM-light: "DM-Sans-light";
  --font-DM-medium: "DM-Sans-medium";
  --font-DM-semibold: "DM-Sans-semibold";
  --font-DM-semibold-italic: "DM-Sans-semibold-italic";
  --font-DM-bold: "DM-Sans-bold";
  
  /* custom breakpoint */
  /* ejemplo:
  mobile:grid-cols-3
  desktop:grid-cols-6 */
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}
