@import "tailwindcss";
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@theme {
  /* neutral */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);
  /* orange */
  --color-orange-500: hsl(28, 100%, 52%);
  /* blue */
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);

  /* customizing fonts */
  /* valores de font
  - Family: [DM Sans](https://fonts.google.com/specimen/DM+Sans)
- Weights: 300, 500, 600, 600i, 700
  :
  font-light = 300
  font-medium = 500
  font-semibold = 600
  font-semibold  + italic = 600i
  font-bold = 700
  */
  /* ejemplo:
  font-dm font-[100]
  font-bricolage weight */
  --font-dm: "DM Sans";
  --font-bricolage: "Bricolage Grotesque";
  
  /* custom breakpoint */
  /* ejemplo:
  mobile:grid-cols-3
  desktop:grid-cols-6 */
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}
